<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="listeners.MyListeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="all tests">
        <classes>
            <class name="tests.FitPeoAutomation_1"></class>
        </classes>
    </test>
</suite>
